---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import ComunityIcon from "@/components/icons/Comunity.astro"
import PhotoIcon from "@/components/icons/Photo.astro"
import EventIcon from "@/components/icons/Event.astro"
import Experience from "@/components/Experience.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import Projects from "@/components/Projects.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import Comunity from "@/components/Comunity.astro"
import Events from "@/components/Events.astro"
import Galery from "@/components/Galery.astro"




---

<Layout
  title="La PBK.ORG"
  description="Organización de la PBK. Una comunidad para compartir conocimientos y experiencias."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
      </slot>
    </Hero>
    </SectionContainer>
    <div class="space-y-24">
    <SectionContainer id="comunidad">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ComunityIcon />
        <!-- Experiencia laboral -->
        Comunidad
      </h2>
      <Comunity />
      <!-- <Experience /> -->
    </SectionContainer>

    <SectionContainer id="eventos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <EventIcon class="size-7" />
        Eventos
      </h2>
      <!-- <Projects /> -->
      <Events />
    </SectionContainer>

    <SectionContainer id="fotos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <!-- <ProfileCheck class="size-8" /> -->
        <PhotoIcon />
        Fotos
      </h2>
      <Galery />
      <!-- <AboutMe /> -->
    </SectionContainer>
  </div>
  </main>
</Layout>
