---

---

<article class="flex flex-col w-full gap-5 items-center  lg:flex-row">
    <section class="lg:w-1/2">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.  Distinctio recusandae, numquam rerum hic quia voluptatem dicta similique molestiae repudiandae error quae aliquam placeat quibusdam vero delectus eum nostrum illo totam? Distinctio recusandae, numquam rerum hic quia voluptatem dicta similique molestiae repudiandae error quae aliquam placeat quibusdam vero delectus eum nostrum illo totam?</p>
    </section>
    <img src="/plaza.webp" alt="La PBK.ORG" class="rounded-md lg:w-1/2 lg:rotate-3">
</article>

