---

---

<section class="columns-1 lg:columns-2 py-4 gap-8">
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-1.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-2.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-3.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-4.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-5.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-6.webp" alt="" />
  <img class="rounded-md w-full h-auto mb-6" src="/images/18F-7.webp" alt="" />
</section>

<style>
    section img{
        animation: reveal linear both;
        animation-timeline: view();
        animation-range: entry 20% cover 30%;

    }

   @keyframes reveal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }


</style>

